<style>
    table, th, td {
      border: 1px solid black;
      border-collapse: collapse;
    }
    </style>

<table>
    <thead>
        <tr>
            <th>
                ID
            </th>
            <th>Name</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let a of authors">
            <td>{{a.id}}</td>
            <td>{{a.name}}</td>
        </tr>
    </tbody>
</table>
